<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}QR Game{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
<body class="bg-light">

<div class="container h-100">

    <div class="p-5 text-center">
        <h1><a href="{{ url_for('.index') }}" class="text-black-50">{{ self.title() }}</a></h1>
    </div>

    <div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-primary" role="alert">
        {{ message }}
        </div>
        {% endfor %}
    </div>

    {% block content %}

    {% endblock %}

</div>

</body>
</html>
