<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Great origanon game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/Navigation.js') }}"></script>
    <style>
        html, body {
            height: 100%;
        }
        .waypoint-listing:hover{
            background-color: #e9ecef;
        }
    </style>
</head>
<body class="bg-light">

<div class="container h-100">

    <div class="p-5 text-center">
        <h1>The Great Origanon Game!</h1>
    </div>

    <div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-primary" role="alert">
        {{ message }}
        </div>
        {% endfor %}
    </div>

    {% for team in teams %}
        <div class="p-1">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     role="progressbar"
                     style="width: {{ team.found_total }}%; background-color: {{ team.color }};"
                     aria-valuenow="{{ team.found_total }}" aria-valuemin="0" aria-valuemax="{{ waypoints | length }}">
                    {{ team.name }}: {{ team.found_total }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row row-eq-height pt-3" style="display: flex;">
        <div class="col-md-8" style="min-height: 50vh;">
            <div class="h-100 rounded" style="background-repeat: no-repeat;
                    background-size: cover;background-image:url('{{ url_for('static', filename='map.png') }}');">
            </div>
        </div>
        <div class="col-md-4 overflow-auto scrollbar-hidden" style="max-height: 50vh;">
            <ul class="list-group mb-3">

                {% for w in waypoints %}
                    <li class="waypoint-listing list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{ w['name'] }}</h6>
                            <small class="text-muted">{{ w['description'] }}</small>
                        </div>

                        <span class="text-muted">
                            {% for f in w.team_founds %}
                            <span title="{{ f.team.name }}" style="color: {{ f.team.color }}">&checkmark;</span>
                            {% endfor %}
                        </span>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>


</body>
</html>